<%= form_for @product, html: { multipart: true } do |f| %>
    <% @product.errors.full_messages.each do |msg| %>
        <p class="alert alert-danger"><%= msg %></p>
    <% end %>

    <div class="form-group">
      <label>Product name</label>
      <%= f.text_field :name, placeholder: "Product name", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Price</label>
      <%= f.text_field :price, placeholder: "Price", class: "form-control" %>
    </div>

    <label>Photos</label>
    <div id="photos">
      <%= render 'photos/list' %>
    </div>
    <div class="form-group">
      <span class="btn btn-default">
        Upload Photos
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </span>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
    </div>
<% end %>
