<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "All Products", products_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Dutch Candy", categories.name[1], class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Japanese Candy", products_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "American Candy", products_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Chocolate", products_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Listings
      </div>
      <div class="panel-body">

        <% @products.each do |product| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= product.name %></h4>
            <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", product, class: "btn btn-default" %>
            <%= link_to "Update", edit_product_path(product), class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add new product", new_product_path, class: "btn btn-primary" %>
  </div>
</div>
