<center><img class="logo" src="http://static.wixstatic.com/media/675e59_24087219fb674baf98bd364ea2b25290.png" alt="Mountain View" style="width:304px;height:228px;"></center>
<div class="row">
  <div class="col-md-3">
      <div class="panel-heading">
    <div class="lead">Candyshop</div>
    <div class="list-group">
      <% @categories.each do |category| %>
          <div class="list-group-item"><%=link_to category.name, category %> </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Sweetest candies</center>
      </div>
      <div class="panel-body">
        <% @products.each do |product| %>
            <!--the option to add each product to card-->
            <!--<td><a href="cart/<%= product.id %>">Add To Cart</a></td> -->﻿
        <div class="col-xs-4">
          <div class="img-thumbnail">
            <% product.photos.each do |photo| %>
            <div class="img-thumbnail"><%= image_tag photo.image.thumbnail, class: "img-responsive" %></div>
            <h4><%= link_to product.name, product %></h4>
            <h4>Price: <%= product.price %> Euro</h4>
 		<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
