<div class="panel panel-primary">
  <div class="panel-heading"><%= @product.name %></div>

  <div class="panel-body">

    <p>Product: <%= @product.name %></p>
    <p>Price: <%= @product.price %> Euro</p>

      <% @product.photos.each do |photo| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag photo.image.thumbnail %>
        </div>
      </div>
      <% end %>
  </div>

</div>
<%= link_to "Delete", product_path( @product.id ), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"%>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Update", edit_product_path(@product), class: "btn btn-default" %>
