<div class="panel panel-primary">
  <div class="panel-heading"><%= @product.name %></div>

  <div class="panel-body">

    <p>Product: <%= @product.name %></p>
    <p>Price: <%= @product.price %> Euro</p>
    <p><%= image_tag @product.image %></p>
  </div>

</div>
<%= link_to "Back", pages_home_path, class: "btn btn-default" %>
